name: Deploy React Vite App

on:
  push:
    branches: ["main"]

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: pages
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: Set up Node.js
        uses: actions/setup-node@v5
        with:
          node-version: lts/*
          cache: "pnpm"

      - name: Install dependencies with Pnpm
        run: pnpm install

      - name: Run prettier
        run: pnpm format

      - name: Run lint fix
        run: pnpm lint:fix

      - name: Build the project
        run: pnpm build

      - name: Verify build output
        run: |
          if [ ! -d "./dist" ]; then
            echo "Build output directory 'dist' does not exist."
            exit 1
          fi
          if [ -z "$(ls -A ./dist)" ]; then
            echo "Build output directory 'dist' is empty."
            exit 1
          fi

      - name: Copy index.html to 404.html
        run: cp ./dist/index.html ./dist/404.html

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./dist

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
